.content-background {
    background-color: var(--black);
    width: 100%;
}

.content-container {
    scale: auto;
    height: 100vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 15%;
    animation: animationRight 0.5s ease-in-out;
}

.content-sub-container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.p {
    font: none;
    color: white;
    padding-bottom: 16px;
    font-size: 64px;
    font-weight: 700;
    animation: animationLeft 0.5s ease-in-out;
}

@keyframes animationLeft {
    from {
        transform: translate(-500px);
        opacity: 0
    }
    to {
        transform: translate(0px);
        opacity: 1
    }
}

@keyframes animationRight {
    from {
        transform: translate(500px);
        opacity: 0
    }
    to {
        transform: translate(0px);
        opacity: 1
    }
}

strong {
    color: rgb(250, 39, 89);
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(45, 252, 216);
    outline: none;
    transition: .5s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(45, 252, 216);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: .5s ease-in-out;
}

.btn:hover {
    transition: .5s ease-in-out;
    background: rgba(51, 214, 187, 0.6);
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn:focus {
    background: rgb(15, 253, 214);
}

@media(max-width:1300px) {
    .content-container {
        width: 80%;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        padding-top: 120px;
        padding-bottom: 80px;
        img {
            width: 300px;
            height: 300px;
        }
    }
}

@media(max-width:1100px) {
    .content-container {
        width: 90%;
    }
}

@media(max-width:950px) {
    .content-container {
        width: 90%;
    }
    .p {
        font-size: 56px;
    }
}

@media(max-width:810px) {
    .content-container {
        width: 95%;
        img {
            height: 250px;
            width: 250px;
        }
    }
    .p {
        font-size: 48px;
    }
}

@media(max-width:700px) {
    .p {
        padding-top: 32px;
        font-size: 32px;
    }
}

@media(max-width:450px) {
    .content-container {
        width: 95%;
        img {
            height: 200px;
            width: 200px;
        }
    }
    .p {
        font-size: 26px;
    }
}