<div class="content-background">
    <div class="content-container">
        <div class="content-sub-container">
            <div class="p">Hi,<br> I'm <strong>Jan</strong> Dreier<br> Front End-Developer<br> </div>

            <a href="#contact">
                <div class="center"><button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span data-aos="fade-left">Contact Me</span>
          </button>
                </div>
            </a>
        </div>

        <div>
            <img src="assets/img/Profile1.JPG">
        </div>


    </div>
</div>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-about></app-about>
<app-contact></app-contact>