<div id="about-me" class="about-background">
    <div class="about-container">

        <div class="about-header" data-aos="fade-left">
            <img src="assets/img/Profile1.JPG">
            <div class="about-sub-header">
                <h2>About me.</h2>
                <p>My name is Jan Dreier. I am a hard-working and driven individual who likes to study new things and expand my knowledge.</p>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="about-sub-container" data-aos="fade-up">
            <div class="journey-container">
                <div class="about-img">
                    <img src="assets/img/walk-line.png">
                </div>
                <h3>
                    MY JOURNEY BEGAN
                </h3>
                <p>
                    I started programming as a fun hobby.
                </p>
            </div>
            <div class="love-container">
                <div class="about-img">
                    <img src="assets/img/heart-line.png">
                </div>
                <h3>
                    I FELL IN LOVE
                </h3>
                <p>
                    The more I did it the more I learned and I fell in love with improving each and every day.
                </p>
            </div>
            <div class="search-container">
                <div class="about-img">
                    <img src="assets/img/search-line.png">
                </div>
                <h3>
                    I SEARCHED
                </h3>
                <p>
                    I realized I wanted more. I wanted to turn my hobby into my job. So I went looking and found the Developer Academy.
                </p>
            </div>
            <div class="challenge-container">
                <div class="about-img">
                    <img src="assets/img/flight-takeoff-line.png">
                </div>
                <h3>
                    NEW CHALLENGES
                </h3>
                <p>
                    I am always striving to get better and am now looking for new challenges as a software developer.

                </p>
            </div>
        </div>


    </div>
</div>