<div id="about-me">
    <div class="about-container">

        <div class="about-header" data-aos="fade-left">
            <img src="assets/img/profile.png">
            <div class="about-sub-header">
                <h2>About me.</h2>
                <p>I´m someone who enjoys spending time with the family and front end developer who loves pushing boundaries.</p>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="about-sub-container" data-aos="fade-up">
            <div class="journey-container">
                <div class="about-img">
                    <img src="assets/img/walk-line.png">
                </div>
                <h3>
                    MY JOURNEY BEGAN
                </h3>
                <p>
                    I started programming as a hobby.
                </p>
            </div>
            <div class="love-container">
                <div class="about-img">
                    <img src="assets/img/heart-line.png">
                </div>
                <h3>
                    I FELL IN LOVE
                </h3>
                <p>
                    I really enjoy developing software. For this reason I want to turn my hobby into my profession.
                </p>
            </div>
            <div class="search-container">
                <div class="about-img">
                    <img src="assets/img/search-line.png">
                </div>
                <h3>
                    I SEARCHED
                </h3>
                <p>
                    I realized I wanted more. I wanted to turn my hobby into my job. So I went looking and found the Developer Academy.
                </p>
            </div>
            <div class="challenge-container">
                <div class="about-img">
                    <img src="assets/img/flight-takeoff-line.png">
                </div>
                <h3>
                    NEW CHALLENGES
                </h3>
                <p>
                    I am now looking for new challenges to work as a software developer.

                </p>
            </div>
        </div>


    </div>
</div>