<div class="navbar-background">
    <nav class="navbar" *ngIf="!mobile">
        <img href="http://jan-dreier.de" src="assets/img/logo-jd.png" alt="logo_image" />



        <div class="desktop-links">
            <ul>
                <li><a href="http://jan-dreier.de"><button class="glow-on-hover" type="button" >Home</button></a></li>
                <li><a href="#Skills"><button class="glow-on-hover" type="button">Skills</button></a></li>
                <li><a href="#portfolio"><button class="glow-on-hover" type="button" >Projects</button></a></li>
                <li><a href="#about-me"><button class="glow-on-hover" type="button">About Me</button></a></li>
                <li><a href="#contact"><button class="glow-on-hover" type="button">Contact Me</button></a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar-mobile" *ngIf="mobile">
        <img href="http://jan-dreier.de" src="assets/img/logo-jd.png" alt="logo_image" />

        <input type="checkbox" id="toggle-button">
        <label for="toggle-button" class="toggle-button open">
            <span class="bar-before"></span>
            <span class="bar"></span>
            <span class="bar-after"></span>
    </label>
        <ul>
            <li><a href="http://jan-dreier.de">Home</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#portfolio">Projects</a></li>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>
    </nav>
</div>