<div class="skill-background" id="Skills">
    <section class="main-skill-container">
        <h2 data-aos="fade-left">My Skills</h2>
        <div class="container-skills" data-aos="fade-left">
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/javascript.png"></div>
                Javascript
            </div>
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/angular.png"></div>
                Angular
            </div>
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/html.png"></div>
                HTML/CSS
            </div>
        </div>
        <div class="container-skills" data-aos="fade-left">
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/scrum.png"></div>
                SCRUM
            </div>
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/git.png"></div>
                Git
            </div>
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/api.png"></div>
                Rest API
            </div>
        </div>
        <div class="container-skills" data-aos="fade-left">
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/database.png"></div>
                Database
            </div>
            <div class="skill-container">
                <div class="skill-img-container"><img src="assets/img/firebase.png"></div>
                Database
            </div>
        </div>
    </section>
</div>