body {
    font-family: 'Open', sans-serif !important;
    display: flex;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    height: 100%;
}

.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 14px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@media (max-width: 1000px) {}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

// .container {
//     width: 400px;
//     height: 400px;
//     // position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.center {
    width: 180px;
    height: 60px;
    position: relative;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(255, 56, 102);
    outline: none;
    transition: .5s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(255, 0, 60);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: .5s ease-in-out;
}

.btn:hover {
    transition: .5s ease-in-out;
    background: rgba(216, 34, 77, 0.5);
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn:focus {
    background: rgb(250, 39, 89);
}

.btn.active {
    background: rgb(250, 39, 89);
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}